.Footer {
  min-height: 300px;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  bottom: 0;
}

@media (min-width: 650px) {
  .Footer {
    flex-direction: row;
    text-align: left;
  }
}

.Label {
  font-size: 18px;
  color: #999999;
  height: 20px;
}

.Services {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #242424;
  margin-left: 30px;
}

.ServicesContact {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #242424;
  min-width: 12em;
  margin-left: 30px;
}

.ServicesAddress {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #242424;
  padding-left: 30px;
}

.ServicesSocial {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #242424;
  padding-left: 30px;
}

.Body {
  width: 252px;
  text-align: justify;
  color: #fff;
}

.BodyContact {
  width: 150px;
  color: #fff;
}

.Body > p, .BodyContact > p {
  margin-top: 0;
}

.LabelContact {
  font-size: 18px;
  color: #999999;
  height: 20px;
  padding-bottom: 10px;
  padding-top: 47px;
}

.SocialLink {
  color: #fff;
}

.Footer .RightContainer {
  flex-direction: column;
  display: flex;
  flex: 3;
  flex-wrap: wrap;
  align-items: center;
}
.Footer .RightContainer div {
  width: 272px;
}

@media (min-width: 650px) {
  .Footer .RightContainer {
    flex-direction: row;
    align-items: flex-start;
  }
  .Footer .RightContainer div {
    width: auto;
  }
}

.LeftContainer {
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  background-color: #242424;
}

.LogoFooter {
  height: 200px;
  margin: 0 auto;
  padding-top: 25px;
}

@media (min-width: 650px) {
  .LogoFooter {
    margin: 0 0 0 50px;
  }
}

