.MixedContainer {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1000px) {
  .MixedContainer {
    flex-direction: row;
    height: 650px;
  }
}

.LabelMixed {
  display: flex;
  justify-content: center;
  font-size: 34px;
  max-width: 500px;
  height: 22%;
/*  margin-top: -410px;
position: absolute;*/

margin-top: -140px;

padding-bottom: 90px;
}

.LabelMixedAbout {
  display: flex;
  justify-content: center;
  font-size: 34px;
  max-width: 500px;
  height: 22%;
/*  margin-top: -410px;
position: absolute;*/

margin-top: -140px;

padding-bottom: 90px;
}


.Message {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
  height: 30%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}

@media (min-width: 650px) {
  .Message {
    padding-left: 100px;
    padding-right: 100px;
  }
}
